config/local_env.yml
.DS_Store
/.bundle
/log/*
!/log/.keep
/tmp
npm-debug.log*
node_modules
/app/assets/webpack/*

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore application configuration
/config/application.yml
