<div class="causes__header">
  <div id="give-when-logo">
    <span>Give</span><span id="when">When</span>
  </div>
</div>
<div>
  <div class="cause__name">
    <strong><%= @cause.name %></strong>
  </div>
  <br/>
  <div>
    <p>By registering your account, you agree to our <%= link_to 'Terms of Service', terms_url %> and the <a target="_blank" href="https://stripe.com/us/connect-account/legal">Stripe Connected Account Agreement</a>.</p>
  </div>
  <div>
    <p>You also agree that your acceptance of payments is provided subject to the Stripe Connected Account Agreement:</p>
    <p style="font-style: italic;">Payment processing services for causes on GiveWhen are provided by Stripe and are subject to the Stripe Connected Account Agreement, which includes the Stripe Terms of Service (collectively, the “Stripe Services Agreement”). By agreeing to this agreement or continuing to operate as a cause on GiveWhen, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of GiveWhen enabling payment processing services through Stripe, you agree to provide GiveWhen accurate and complete information about you and your business, and you authorize GiveWhen to share it and transaction information related to your use of the payment processing services provided by Stripe.</p>
</div>

