<div class="causes__header">
  <div id="give-when-logo">
    <span>Give</span><span id="when">When</span>
  </div>
</div>
<div>
  <div class="cause__name">
    <strong><%= @cause.name %></strong>
  </div>
  <br/>
  <div>
    By registering your account, you agree to our <%= link_to 'Terms of Service', terms_url %> and the <a target="_blank" href="https://stripe.com/us/connect-account/legal">Stripe Connected Account Agreement</a>.
  </div>
</div>

