<div class="page__wrapper">
  <h1>Privacy Policy</h1>

  <div class="what__its__about">
    <p>We are committed to respecting your privacy and protecting your personal information. We’ve tried to keep this Privacy Policy simple to explain what information we collect and what we do with the information.</p>

    <h3>Personal Information</h3>
    <p>First of all, Personal Information means information you provide to us that specifically identifies you (such as your name, address, email address, or billing information) and your giving information.</p>

    <p>Personal Information does not include aggregate information, which is data we collect about the use of our Site or about a group or category of users, from which personal information has been anonymized.</p>

    <h3>What information we collect</h3>
    <li>Active Collection: Personal Information may be collected in a number of ways when you use our site. We collect certain information you voluntarily provide to us, such as when you fill out a form, create an account or a profile, send us an email, sign-up to receive email or updates, connect through a social feed, make a donation, or request information. Such information may include Personal Information. Campaign finance law may also require us to collect certain Personal Information from those who donate to political candidates.</li>

    <li>Passive Data Collection: When you use Give When, some information may be automatically collected, such as your Internet Protocol (IP) address, your operating system, the browser type, the address of a referring website, and your activity on our website. We treat this information as Personal Information if we combine it with or link it to any of the identifying information mentioned above. </li>

    <p>We may also automatically collect certain information through the use of cookies. Cookies are small data files stored on your hard drive at the request of a website. Among other things, cookies help us improve our Site and your experience.</p>

    <h3>What we do with your information</h3>
    <p>We use your Personal Information to give you relevant information. We may over time use your email address to let you know about new services on our Site, or information about political issues or causes that may be of interest to you.</p>

    <p>We do not sell, rent or otherwise share your Personal Information with any third parties except in the following specific circumstances:</p>

    <li>Compliance with Law. We may preserve or disclose your Personal Information if we believe that it is reasonably necessary to comply with a law, regulation, or legal request; to protect the safety of any person; to address fraud, security, or technical issues; or to protect our rights or property.</li>

    <li>Compliance with your wishes. Sometimes we will provide you with the opportunity to let us know that you would like to receive more information from a candidate, organization, or other partner of ours. If you affirmatively opt-in to such a request, we may share your information with them.</li>

    <li>Making our Platform Work. Some of the tools and capabilities you will want to use on Give When are provided by third parties. In those circumstances, we may share your information with our affiliates or sub-contractors to facilitate providing you the service you have requested.</li>

    <li>Business Transfers. The promises in this Policy will apply to your Personal Information in the event that Give When is involved in a bankruptcy, merger, acquisition, reorganization, or a sale of assets. However, your information may be transferred to another entity as part of that transaction.</li>

    <h3>Changing your Personal Information</h3>
    <p>Please contact us at info@wegivewhen.com in order to to access, modify or delete the Personal Information you provided to us.</p>

    <h3>Minors</h3>
    <p>Give When does not knowingly ask for or collect personally identifying information from children under the age of 13. If you become aware that your child has provided Give When with personal information without your consent, please contact us at info@wegivewhen.com. If we become aware that a child under 13 has provided us with personal information, we will take steps to remove such information and terminate the child’s account.</p>

    <h3>Enforcement</h3>
    <p>Give When is presently limited to users based in the United States, so the privacy laws of the United States govern the use of Give When.</p>

    <h3>Changes to this policy</h3>
    <p>We reserve the right to change this Policy at any time. We will make clear that changes have been made by indicating on the Policy the date it was last updated. Unless otherwise stated in the amendment, the amended Policy will automatically be effective seven days after it is initially posted on the Site. You can review this Policy from time to time to make sure that you understand how any Personal Information you provide will be used.</p>

    <p>Questions or comments regarding your privacy or this Policy should be sent to info@wegivewhen.com.</p>
  </div>
</div>
