.arrow_box {
  position: relative;
  background: #eef3f6;
  border: 4px solid #eef3f6;

  -ms-flex: 0 0 1px !important; /*IE 10*/
}

.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:before {
  border-left-color: #eef3f6;
  border-width: 40px;
  margin-top: -40px;
}

#give__when__vertical__divider {
  min-height: 100px;
  margin: 15px 0;
  width: 2px;
  background-color: #1c407b;
  display: inline;
  float: right;
  flex: 0.005;
  -ms-flex: 0 0 1px !important; /*IE 10*/
}
