$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;

$red: #f90016;
$darkblue: #1c407b;
$green: #01943b;
$lightblue: #0948bc;

.amount_selector_button {
  padding: 10px 15px;
  background-color: #eef3f6;
  font-family: Helvetica;
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  margin: 5px;
  color: #1c407b;
  border: 1px solid #1c407b;
  cursor: pointer;
  flex: 1;
}

.amount_selector_button.custom__selector {
  padding: 0;

  .dollar {
    position: relative;
    left: 10px;
  }

  .dollar.selected {
    background-color: #1c407b;
    color: white;
  }
}

.amount_selector_button.custom__selector.selected {
  background-color: #1c407b;
  color: white;
}

input.custom__selector {
  background-color: #eef3f6;
  border: none;
  width: 55px;
  padding: 6px 12px;
  height: 29px;
  font-family: Helvetica;
  font-size: 1.05em;
  color: #1c407b;
  font-weight: bold;
  text-align: center;

  /* Surpress Safari etc. from messing with styles */
  -webkit-appearance: none;
}

input.custom__selector.selected {
  background-color: #1c407b;
  color: white;
}

input.custom__selector:focus {
  outline: none;
}

.amount_selector_button.selected {
  background-color: #1c407b;
  color: white;
}

.action_button_big {
  font-size: 1.45em;
  font-weight: bold;
  transition: background-color 0.5s ease;
  cursor: pointer;
  padding: 10px 20px;
  margin: 20px auto 40px auto;
  display: inline-block;
  text-align: center;
}

.color_scheme__red_blue {

  .action_button_big {
    background-color: $red;
    color: white;
    border: 2px solid white;
  }

  .action_button_big:hover {
    background-color: white;
    color: $red;
    border: 2px solid $red;
  }
}

.color_scheme__green_blue {

  .action_button_big {
    background-color: $green;
    color: white;
  }

  .action_button_big:hover {
    background-color: white;
    color: $green;
    border: 2px solid $green;
  }
}

.color_scheme__white_blue {

  .action_button_big {
    background-color: white;
    color: $lightblue;
    border: 2px solid $lightblue;
  }

  .action_button_big:hover {
    background-color: $lightblue;
    color: white;
    border: 2px solid white;
  }
}
