button.call_to_action, .continue {
  border: 1px solid gray;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
  cursor: pointer;

  .call_to_action_shading {
    background-color: darken(yellow, 2.5%);
  }

  .call_to_action_shading, .continue_shading {
    height: 21px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -5;
  }

  .continue_shading {
    background-color: rgb(67, 222, 31);
  }

  .call_to_action_background, .continue_background {
    height: 42px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
  }

  .call_to_action_background {
    background-color: yellow;
  }

  .continue_background {
    background-color: lighten(rgb(67, 222, 31), 15%);
  }
}
