button.call_to_action {
  border: 1px solid gray;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
  cursor: pointer;

  .call_to_action_shading {
    height: 21px;
    width: 100%;
    background-color: darken(yellow, 2.5%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -5;
  }

  .call_to_action_background {
    height: 42px;
    width: 100%;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
  }
}
