.pages, .causes, .crowd_funds.index {
  color: black;
  text-align: center;
  font-size: 20px;
  background-color: yellow;
  font-family: 'Muli', sans-serif !important;

  .causes__header {
    height: 80px;
    width: 100%;
    background-color: yellow;

    #give-when-logo {
      float: left;
      font-size: 30px;
      margin: 10px 20px;

      #when {
        font-weight: bold;
      }
    }
  }

  .cause__name {
    font-size: 25px;
  }
}
