.pages, .causes, .crowd_funds.index {
  color: black;
  font-size: 20px;
  background-color: yellow;

  .center__column {
    width: 60%;
    margin: 20px auto;
  }

  .causes__header {
    height: 80px;
    width: 100%;
    background-color: yellow;

    #give-when-logo {
      float: left;
      font-size: 30px;
      margin: 10px 20px;

      #when {
        font-weight: bold;
      }
    }
  }

  .cause__name {
    font-size: 25px;
  }

  #i-agree-wrapper {
    text-align: center;
    margin-top: 40px;

    #i-agree {
      border: 1px solid black;
      background-color: yellow;
      border-radius: none;
      font-size: 24px;
      padding: 24px;
      cursor: pointer;
    }

    #i-agree:hover {
      background-color: lighten(yellow, 20%);
    }
  }
}
