$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;

$red: #f90016;
$darkblue: #1c407b;

.headline__section {

  h1 {
    margin-bottom: 0;
  }

  h1.loud {
    text-transform: uppercase;
  }

  @media (min-width: $breakpoint-m) {
    h1.loud {
      font-size: 60px;
    }

    h1:not(.loud) {
      font-size: 2.4em;
    }
  }

  @media (max-width: $breakpoint-m) {
    h1 {
      font-size: 2.4em;
    }
  }

  .text {
    p {
      color: white;
      line-height: 1.5em;
      font-size: 1.25em;
    }
  }
}

.subheadline {
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (min-width: $breakpoint-m) {
  .subheadline {
    font-size: 50px;
  }
}

@media (max-width: $breakpoint-m) {
  .subheadline {
    font-size: 2.25em;
  }
}

.content_headline {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
}
