$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;

$red: #f90016;
$darkblue: #1c407b;
$green: #01943b;
$lightblue: #0948bc;

.page__wrapper {
  .tagline {
    padding: 40px 60px;
    font-size: 1.5em;
    margin: 20px 0;
  }

  .tagline__strong {
    font-weight: bold;
  }

  @media (min-width: $breakpoint-m) {
    .what__its__about {
      width: 60%;
      margin: 60px auto;
      text-align: justify;
    }
  }

  @media (max-width: $breakpoint-m) and (min-width: $breakpoint-s) {
    .what__its__about {
      width: 85%;
      margin: 60px auto;
      text-align: justify;
    }
  }

  @media (max-width: $breakpoint-s) {
    .what__its__about {
      width: 95%;
      margin: 60px auto;
      text-align: left;
    }
  }

  .all__the__examples td {
    padding-right: 40px;
    padding-top: 20px;
  }
}

.pages, .causes, .crowd_funds.index {
  color: black;
  font-size: 20px;
  background-color: yellow;

  .causes__header {
    height: 80px;
    width: 100%;
    background-color: yellow;

    #give-when-logo {
      float: left;
      font-size: 30px;
      margin: 10px 20px;

      #when {
        font-weight: bold;
      }
    }
  }

  .cause__name {
    font-size: 25px;
  }
}

.our__campaigns {
  background-color: black;
  color: white;
  display: flex;

  h2 {
    font-weight: lighter;
  }

  a {
    color: white;
  }

  a:hover {
    font-weight: bold;
  }
}

@media (min-width: 800px) {
  .our__campaigns {
    flex-direction: row;
  }
}

@media (max-width: 800px) {
  .our__campaigns {
    flex-direction: column;
  }
}

.navbar:after {
  content: "";
  display: table;
  clear: both;
}

.hero__area {
  font-size: 2.4em;
  font-family: Helvetica;
  float: left;
  margin-left: 40px;

  #heart {
    height: 80px;
    width: 80px;
    position: relative;
    top: 20px;
  }

  .text {
    position: relative;
    right: 20px;
  }
}

.navlinks {
  float: right;
  margin: 45px 60px 0 0;

  a {
    color: black;
    margin-left: 20px;
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
  }
}

.get__in__touch {
  padding: 40px 60px;
}

.our__campaigns__text {
  flex: 1;
  padding: 40px 60px;
}

.capitol__background__image {
  flex: 1;
  background-image: url(https://s3-us-west-2.amazonaws.com/give-when/static-images/give-when/Yellow-over-capitol.jpg);
  background-size: cover;
}
