$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;

$red: #f90016;
$darkblue: #1c407b;
$green: #01943b;
$lightblue: #0948bc;

.personal__details__form__wrapper.card__details__form {
  min-height: 75vh; /* Because there's not much content on this page */
  padding: 20px 0;  /* No horizontal padding so that stripe has room */
}

.personal__details__form__wrapper:not(.card__details__form) {
  .personal__details__form {
    padding: 20px;
  }
}

.personal__details__form__wrapper {
  background-color: $lightblue;
  width: 100%;
  color: white;

  .personal__details__form {

    .summary {
      margin: 20px 0;

      p {
        font-size: 1.25em;
        margin: 8px 0;
      }

      a.edit {
        cursor: pointer;
        text-decoration: underline;
        font-size: 16px;
        margin-left: 10px;
      }
    }

    .long__input {
      input {
        width: 100%;
        margin: 10px 0;
        line-height: 50px; /* So that Firefox doesn't make it tiny */
      }
    }

    .input__row {
      display: flex;
      width: 100%;

      input {
        flex: 1;
        margin: 10px 0;
        line-height: 50px; /* So that Firefox doesn't make it tiny */
      }

      @media (min-width: $breakpoint-m) {
        input {
          margin-right: 15px;
        }

        input:last-of-type {
          margin-right: 0;
        }
      }
    }

    @media (max-width: $breakpoint-m) {
      .input__row {
        flex-direction: column;
      }
    }

    input[type="text"], input[type="tel"], input[type="email"], select {
      height: 50px;
      border: none;
      border-radius: 6px;
      font-family: Helvetica;
      box-shadow: 0 4px 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
      font-size: 22px;
      color: black;
      text-indent: 10px;

      /* Surpress Safari etc. from messing with styles */
      -webkit-appearance: none;
    }
  }
}
