$lightblue: #0948bc;

.personal__details__form__wrapper {
  background-color: $lightblue;
  width: 100%;

  .personal__details__form {
    padding: 40px;

    input {
      border: 2px solid gray;
      border-radius: 5px;
    }

    .long__input input {
      width: 100%;
    }

    input[type="text"], select {
      height: 30px;
      border: 3px solid gray;
      font-family: Helvetica;
      font-size: 18px;

      /* Surpress Safari etc. from messing with styles */
      -webkit-appearance: none;
      border-radius: 4px;
    }
  }
}
