$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;

$red: #f90016;
$darkblue: #1c407b;
$green: #01943b;
$lightblue: #0948bc;

.personal__details__form__wrapper {
  background-color: $lightblue;
  width: 100%;

  .personal__details__form {
    padding: 40px;

    .long__input {
      input {
        width: 100%;
        margin: 15px 0;
      }
    }

    .input__row {
      display: flex;
      width: 100%;

      input {
        flex: 1;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      @media (min-width: $breakpoint-m) {
        input:first-of-type {
          margin-right: 15px;
        }
      }
    }

    @media (max-width: $breakpoint-m) {
      .input__row {
        flex-direction: column;
      }
    }

    input[type="text"], select {
      height: 40px;
      border: none;
      border-radius: 5px;
      font-family: Helvetica;
      font-size: 20px;
      color: black;
      text-indent: 10px;

      /* Surpress Safari etc. from messing with styles */
      -webkit-appearance: none;
    }
  }
}
