$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1400px;
$breakpoint-xl: 1850px;

$red: #f90016;
$darkblue: #1c407b;

@media (min-width: $breakpoint-l) {
  .below__fixed__navbar {
    margin-top: 105px;
  }
}

@media (min-width: $breakpoint-l) {
  .section.mobile__only {
    display: none;
  }
}

.section {
  width: 100%;

  .text {
    padding: 30px 60px;
  }

  @media (min-width: $breakpoint-m) {
    .text {
      padding: 30px 60px;
    }

    .text.narrow {
      padding: 40px 200px;
    }
  }

  @media (max-width: $breakpoint-m) {
    .text {
      padding: 30px;
    }
  }
}

.section.flex {
  display: flex;
  display: -ms-flexbox;

  div {
    flex: 1;
    -ms-flex: 1;
  }
}

.section.flex img {
  display: block;
}

@media screen and (min-width: $breakpoint-m) {
  .section.flex {
    flex-direction: row;
    -ms-flex-direction: row;
  }
}

@media screen and (max-width: $breakpoint-m) {
  .section.flex {
    flex-direction: column;
    -ms-flex-direction: column;
  }
}

@media screen and (max-width: $breakpoint-m) {
  #when {
    border-bottom: 2px solid $darkblue;
  }

  #divider-line {
    display: none !important;
  }
}

