$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;

$red: #f90016;
$darkblue: #1c407b;

.section.flex {
  display: flex;
  width: 100%;
}

.section.flex div {
  flex: 1;
}

.section.flex .text {
  flex: 1;
  padding: 30px 60px;
}

@media screen and (min-width: $breakpoint-m) {
  .section.flex {
    flex-direction: row;
  }

  .section.flex img:not(.big):not(#twitter-logo) {
    flex: 0;
    height: 420px;
  }

  .section.flex img.big {
    flex: 0;
    min-height: 420px;
  }
}

@media screen and (max-width: $breakpoint-m) {
  .section.flex {
    flex-direction: column;
  }

  .section.flex img {
    flex: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: $breakpoint-m) {
  #when {
    border-bottom: 2px solid $darkblue;
  }

  #divider-line {
    display: none !important;
  }
}

