$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;
$red: #f90016;

.section.flex {
  display: flex;
  width: 100%;
}

.section.flex div {
  flex: 1;
}

.section.flex div.text {
  flex: 1;
  padding: 30px 60px;
}

div.red {
  background-color: $red;
  color: white;
}

@media screen and (min-width: $breakpoint-m) {
  .section.flex {
    flex-direction: row;
  }

  .section.flex img {
    flex: 0;
    height: 420px;
  }
}

@media screen and (max-width: $breakpoint-m) {
  .section.flex {
    flex-direction: column;
  }

  .section.flex img {
    flex: 0;
    max-width: 100%;
  }
}

