$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;

$red: #f90016;
$darkblue: #1c407b;

@media (min-width: $breakpoint-m) {
  #call_to_action_sentence {
    float: right;
  }
}

@media (max-width: $breakpoint-m) {
  #call_to_action_sentence {
    text-align: center;
    line-height: 1.95em;
    margin: 20px 40px;
  }
}

#call_to_action_sentence {
  color: $red;
  font-size: 1.175em;
  margin: 20px;

  p {
    font-weight: bold;
  }

  .action_button {
    border: 2px solid #f90016;
    cursor: pointer;
    padding: 5px 7.5px;
    transition: background-color 0.5s ease;
  }

  .action_button:hover {
    background-color: #f90016;
    color: white;
  }
}
