$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;

$red: #f90016;
$darkblue: #1c407b;
$green: #01943b;

.color_scheme__red_blue .sentence {
  color: $red;

  .action_button {
    border: 2px solid white;
    background-color: $red;
    color: white;
  }

  .action_button:hover {
    border: 2px solid $red;
    background-color: white;
    color: $red;
  }
}

.color_scheme__green_blue .sentence {
  color: $green;

  .action_button {
    border: 2px solid white;
    background-color: $green;
    color: white;
  }

  .action_button:hover {
    border: 2px solid $green;
    background-color: white;
    color: $green;
  }
}

.color_scheme__green_blue .sentence.reverse__colors {
  color: white;
  background-color: $green;

  p {
    color: white;
  }

  .action_button {
    border: 2px solid $green;
    background-color: white;
    color: $green;
  }

  .action_button:hover {
    border: 2px solid white;
    background-color: $green;
    color: white;
  }
}

@media (min-width: $breakpoint-m) {
  .header .sentence {
    float: right;
  }
}

@media (max-width: $breakpoint-m) {
  .header .sentence {
    text-align: center;
    line-height: 1.95em;
    margin: 20px 40px;
  }
}

.sentence.plain {
  p {
    font-size: 1em;
    font-weight: normal;
  }
}

.sentence {
  font-size: 1.175em;
  margin: 20px;

  p {
    font-weight: bold;
  }

  .action_button {
    cursor: pointer;
    padding: 5px 7.5px;
    transition: background-color 0.5s ease;
    display: inline-block;
  }

  .action_button.darkblue {
    cursor: pointer;
    padding: 5px 7.5px;
    transition: background-color 0.5s ease;
    background-color: $darkblue;
    border: 2px solid $darkblue;
    color: white;
  }

  .action_button.darkblue:hover {
    background-color: white;
    border: 2px solid $darkblue;
    color: $darkblue;
  }
}

