$breakpoint-m: 1100px;
$breakpoint-s: 500px;

.new__crowd__fund__page {
  span {}

  .foe__section, .friend__section {
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-image: url(https://s3-us-west-2.amazonaws.com/give-when/static-images/backgrounds/black-twill.png);
    background-repeat: repeat;

    span {}

    .img__part {
      flex: 1;

      span {}

      .img__wrapper {
        height: 300px;
        width: 300px;
        margin: auto;

        span {}

        img {
          height: 300px;
          width: 300px;
          border-radius: 600px;
        }
      }
    }

    .text__part {
      flex: 2;
    }
  }

  @media (max-width: $breakpoint-m) {
    .foe__section, .friend__section {
      flex-direction: column;
    }
  }

  .amount__selection {
    text-align: center;
    margin: 60px 0;
    font-size: 1.75em;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    span {}

    .money__box {
      position: relative;
      display: inline;
      margin-left: 15px;

      span {}

      .subtle__input {
        border: none;
        height: 100px;
        width: 70px;
        font-size: 60px;
        margin: 10px;
        padding-left: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .monthly__info {
      font-size: 18px;
      display: inline-block;
      position: relative;
      bottom: 30px;
      left: 30px;

      span {
        display: inline-block;
        float: left;
        margin: 4px 0;
      }
    }
  }

  .money__box:before {
    content: '$';
    position: absolute;
    left: 30px;
    bottom: 0px;
    z-index: 1;
    font-size: 45px;
  }

  .mechanics__section {
    background-color: #e0e6e6;
    padding: 60px;
    text-align: center;
  }

  .section__headline, .section__subheadline {
    color: white;
    margin: 20px 0;
  }

  .section__headline {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
  }

  .section__subheadline {
    font-size: 1.75em;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
  }

  .call__to__action {
    font-size: 3em;
    text-align: center;
    background-repeat: repeat;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
  }

  .theory__of__change__sentence {
    font-size: 3em;
    text-align: center;
    background-repeat: repeat;
    font-family: 'Roboto Slab', sans-serif;
  }

  .next__step__button {
    /* Positioning and sizing */
    display: inline-block;
    margin: 80px 0 40px 0;
    padding: 20px;

    /* Font */
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;

    /* Colors */
    background-color: #00a817;
    color: white;
    border: 1px solid #00a817;
    transition: background-color 0.35s ease;
    cursor: pointer;
  }

  .next__step__button:hover {
    color: #00a817;
    background-color: white;
    font-style: italic;
  }

  @media (min-width: $breakpoint-s) {
    span {}

    .next__step__button {
      font-size: 3em;
    }
  }

  @media (max-width: $breakpoint-s) {
    span {}

    .next__step__button {
      font-size: 2em;
    }
  }
}
