$breakpoint-xs: 500px;
$breakpoint-s: 900px;
$breakpoint-m: 1100px;

.new__crowd__fund__page {
  span {}

  .mechanics__section,
  .next__step__button__section,
  .foe__section,
  .friend__section {
    padding: 40px;
  }

  .foe__section, .friend__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-image: url(https://s3-us-west-2.amazonaws.com/give-when/static-images/backgrounds/black-twill.png);
    background-repeat: repeat;

    span {}

    .img__part {
      flex: 1;

      span {}

      .img__wrapper {
        height: 275px;
        width: 275px;
        margin: auto;

        span {}

        img {
          height: 275px;
          width: 275px;
          border-radius: 600px;
        }
      }
    }

    .text__part {
      flex: 2;
    }
  }

  @media (max-width: $breakpoint-m) {
    .foe__section, .friend__section {
      flex-direction: column;
    }
  }

  .amount__selection {
    text-align: center;
    margin-top: 60px;
    font-size: 1.75em;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    span {}

    .dollar__amount__indicator {
      font-size: 1.5em;
      margin: 0 10px;
    }
  }

  .mechanics__section {
    text-align: center;
  }

  .next__step__button__section {
    text-align: center;
    background-color: #e0e6e6;
  }

  .section__headline, .section__subheadline {
    color: white;
    margin: 40px 0;
  }

  .section__headline {
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;

    span {}

    @media (min-width: $breakpoint-m) {
      font-size: 3em;
    }

    @media (max-width: $breakpoint-m) {
      font-size: 2em;
    }
  }

  .section__subheadline {
    font-size: 1.5em;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
  }

  .call__to__action {
    font-size: 3em;
    text-align: center;
    background-repeat: repeat;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
  }

  .theory__of__change__sentence {
    font-size: 1.75em;
    font-weight: lighter;
    text-align: center;
  }

  .next__step__button {
    /* Positioning and sizing */
    display: inline-block;
    margin: 60px 0 40px 0;
    padding: 20px;

    /* Font */
    font-weight: bold;

    /* Colors */
    background-color: #f3831e;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4), 0 10px 15px rgba(0,0,0,0.4);
    border: 1px solid gray;
    color: white;
    transition: background-color 0.35s ease;
    cursor: pointer;
  }

  .next__step__button:hover {
    color: #f3831e;
    background-color: white;
  }

  .very__secure__wrapper {
    /* Positioning and sizing */
    display: inline-block;
    margin: 40px 0;
    padding: 15px 20px;
    border-radius: 50px;

    /* Colors */
    background-color: black;
    color: white;
    font-size: 20px;
  }

  @media (min-width: $breakpoint-xs) {
    span {}

    .next__step__button {
      font-size: 3em;
    }
  }

  @media (max-width: $breakpoint-xs) {
    span {}

    .next__step__button {
      font-size: 2em;
    }
  }
}
